<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Nest</title>
  </head>
  <body>
    <h1>Edit Nest</h1>
    <form action="/nests/<%= nest._id%>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="nest[title]"
          value="<%=nest.title%>"
        />
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          name="nest[location]"
          value="<%=nest.location%>"
        />
      </div>
      <button>Update Nest</button>
    </form>
    <a href="/nests/<%= nest._id%>">Back to Nest</a>
  </body>
</html>
