<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nests</title>
  </head>
  <body>
    <h1>All Nests!</h1>
    <ul>
      <% for (let nest of nests) {%>
      <li><%= nest.title %></li>
      <% }%>
    </ul>
  </body>
</html>
