<%layout('layouts/boilerplate')%>

<form action="/nests" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="nest[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="nest[location]" />
  </div>
  <button>Add Nest</button>
</form>
<a href="/nests">All Nests</a>
