<%layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">New Nest</h1>
  <div class="col-6 offset-3">
    <form action="/nests" method="post" novalidate class="validated-form">
      <div class="mb-2">
        <label class="form-lable" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="nest[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2">
        <label class="form-lable" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="nest[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2">
        <label class="form-lable" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="nest[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2">
        <label class="form-lable" for="price">Nest Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-lable">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-lable"
            name="nest[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-2">
        <label class="form-lable" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="nest[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2"><button class="btn btn-success">Add Nest</button></div>
    </form>
    <a href="/nests">All Nests</a>
  </div>
</div>
